doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    title OSM City Namer
    link(rel="stylesheet", href="/lib/bootstrap.min.css")
    link(rel="stylesheet", href="/custom.css")
  body
    .container
      .row
        .col-sm-12
          h2.centered City Namer
          h4.centered
            span Adding placenames across OpenStreetMap
            br
            br
            if user
              span You're logged in as&nbsp;
              a(href="http://openstreetmap.org/user/#{user.osm_id}") #{user.name} (#{user.osm_id})
              span &nbsp;&nbsp;&nbsp;&nbsp;
              a.btn.btn-default.btn-lg(href="/logout") Log Out
            else
              a.btn.btn-primary.btn-lg(href="/app") Demo App
              span &nbsp;&nbsp;&nbsp;&nbsp;
              a.btn.btn-default.btn-lg(href="/login") Sign Up
            hr
      for row in rows
        .row
          for project in row
            .col-sm-4
              .project
                a(href="/projects/#{project._id}")
                  img(src="//api.mapbox.com/styles/v1/mapbox/streets-v9/static/#{project.lng},#{project.lat},7/300x300?access_token=pk.eyJ1IjoidGhlLWFzaWEtZm91bmRhdGlvbiIsImEiOiJpODl0Xy00In0.on3pFdtDeQSAC04tryO_hA")
                  h4= project.title
                small #{project.fromLanguages.join(', ')}
                strong &nbsp;&nbsp;&rarr;&nbsp;&nbsp;
                small #{project.toLanguage}
                if isAdmin
                  br
                  a.btn.btn-danger(href="/projects/#{project._id}/delete") Delete
                  br
                  br
      if user
        hr
        .row
          .col-sm-6
            a.btn.btn-success(href="/projects/new")
              h4 Create a new project
      br
      br
      br
